<!--faq.html-->

<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>clarITy - IT Understanding Form</title>
  <script>
		function show_relevant_docs(id) {
			var relatedDocs = document.getElementById(id);
			if (relatedDocs.style.display === "none") {
				relatedDocs.style.display = "block";
			} else {
				relatedDocs.style.display = "none";
			}
		}
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	<meta name="description" content="This is meta description">
	<meta name="author" content="Themefisher">
	<link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="static/images/favicon.png" type="image/x-icon">

	<!-- # Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

	<!-- # CSS Plugins -->
  <link rel="stylesheet" href="static/plugins/slick/slick.css">
  <link rel="stylesheet" href="static/plugins/font-awesome/fontawesome.min.css">
  <link rel="stylesheet" href="static/plugins/font-awesome/brands.css">
  <link rel="stylesheet" href="static/plugins/font-awesome/solid.css">

	<!-- # Main Style Sheet -->
	<link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<!-- navigation -->
<header class="navigation bg-tertiary">
	<nav class="navbar navbar-expand-xl navbar-light text-center py-3 pt-0 pb-0">
		<div class="container">
			<a class="navbar-brand" href="{{url_for("upload_files")}}">
				<img loading="prelaod" decoding="async" class="img-fluid" width="250" src="static/images/logo.png" alt="Wallet">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					<li class="nav-item"> <a class="nav-link" href="{{url_for("upload_files")}}">Home</a>
					</li>
          <li class="nav-item "> <a class="nav-link" href="how-it-works.html">How It Works</a>
					</li>
				</ul>
				<a class="navbar-brand brand_1" href="{{url_for("upload_files")}}">
          <img loading="prelaod" decoding="async" class="img-fluid" width="140" src="static/images/KPMG.svg" alt="KPMG">
        </a>
			</div>
		</div>
	</nav>
</header>
<!-- /navigation -->


<section class="section-sm">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="bg-white shadow rounded-lg p-4 sticky-top" style="top: 30px;">
          <h4 class="has-line-end">IT Understanding</h4>
          <nav id="TableOfContents">
            <ul>
              <li><a href="#section_1">I. Les systèmes IT utilisés par l'entité pour le reporting financier et métiers</a>
              </li>
              <li><a href="#section_2">II. Compréhension des systèmes IT de l entité</a>
              </li>
              <li><a href="#section_3">III. Compréhension de l organisation IT</a>
              </li>
              <li><a href="#section_4">IV. Compréhension des process IT de l entité</a>
                <ul>
									<li><a href="#sub_41">1. L’accès aux programmes et aux données</a>
									</li>
                  <li><a href="#sub_42">2. Les changements applicatifs</a>
									</li>
                  <li><a href="#sub_43">3.	Acquisitions / développements de nouveaux systèmes</a>
									</li>
                  <li><a href="#sub_44">4. Les opérations informatiques</a>
									</li>
								</ul>
              </li>
              <li><a href="#section_5">V. Cybersecurité</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="content">

          <h3 id="section_1">I. Les systèmes IT utilisés par l'entité pour le reporting financier et métiers</h3>
          <button type="button" class="btn btn-blue" onclick="show_relevant_docs('d0')" style="
          margin-bottom: 13px;">Relevant docs</button>
          <div id="d0" style="display: none;">
            <table>
              <tr>
                <th style="text-align: center;">File Name</th>
                <thstyle="text-align: center;">Relevance to Section I</th>
              </tr>
              {% for doc, score in d0 %}
              <tr>
                <td>{{ doc }}</td>
                <td><span style="font-weight: bold; text-align: center; font-size: 16px; color: green;">{{ score*100 }}%</span></td>
              </tr>
              {% endfor %}
            </table>
          </div>

          <h3 id="section_2">II. Compréhension des systèmes IT de l' entité</h3>
          <button type="button" class="btn btn-blue" onclick="show_relevant_docs('d1')">Relevant docs</button>
          <div id="d1" style="display: none;">
            <table>
              <tr>
                <th style="text-align: center;">File Name</span></th>
                <th style="text-align: center;">Relevance to Section II</th>
              </tr>
              {% for doc, score in d1 %}
              <tr>
                <td>{{ doc }}</td>
                <td><span style="font-weight: bold; text-align: center; font-size: 16px; color: green;">{{ score*100 }}%</span></td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="accordion accordion-border-bottom" id="accordionFAQ">
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-II1" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-II1" aria-expanded="true"
                aria-controls="collapse-II1">Les systèmes IT utilisés par 
                l’entité dans le cadre de ses rapports financiers et de ses processus opérationnels</h2>
              <div id="collapse-II1"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-II1" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">
                  <table>
                    <tr>
                      <th style="text-align: center;">File Name</th>
                      <th style="text-align: center;">Section</th>
                      <th style="text-align: center;">Relevance to the query</th>
                    </tr>
                    {% for doc, sec, score in i0 %}
                    <tr>
                      <td>{{ doc }}</td>
                      <td>{{ sec }}</td>
                      <td><span style="font-weight: bold; text-align: center; font-size: 16px; color: green;">{{ score*100 }}%</span></td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-II2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-II2" aria-expanded="false"
                aria-controls="collapse-II2">Les Informations concernant les
                mises à jour ou changements importants si existants</h2>
              <div id="collapse-II2"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-II2" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i1}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-II3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-II3" aria-expanded="false"
                aria-controls="collapse-II3">IT System Diagram _ISD_</h2>
              <div id="collapse-II3"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-II3" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i2}}
                </div>
              </div>
            </div>
          </div>

          <h3 id="section_3">III. Compréhension de l organisation IT</h3>
          <button type="button" class="btn btn-blue" onclick="show_relevant_docs('d2')">Relevant docs</button>
          <div id="d2" style="display: none;">
            <table>
              <tr>
                <th style="text-align: center;">File Name</th>
                <th style="text-align: center;">Relevance to Section III</th>
              </tr>
              {% for doc, score in d2 %}
              <tr>
                <td>{{ doc }}</td>
                <td><span style="font-weight: bold; text-align: center; font-size: 16px; color: green;">{{ score*100 }}%</span></td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="accordion accordion-border-bottom" id="accordionFAQ">
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-III1" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-III1" aria-expanded="true"
                aria-controls="collapse-III1">Les membres clés de l'organisation IT</h2>
              <div id="collapse-III1"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-III1" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i3}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-III2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-III2" aria-expanded="false"
                aria-controls="collapse-III2">Les fonctions clés de l'organisation IT</h2>
              <div id="collapse-III2"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-III2" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i4}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-III3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-III3" aria-expanded="false"
                aria-controls="collapse-III3">Les membres clés de l'équipe de l'organisation IT</h2>
              <div id="collapse-III3"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-III3" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i5}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-III4" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-III4" aria-expanded="false"
                aria-controls="collapse-III4">Les éléments externalisés</h2>
              <div id="collapse-III4"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-III4" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i6}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-4b82be4be873c8ad699fa97049523ac86b67a8bd" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd" aria-expanded="false"
                aria-controls="collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd">Domaines d'intervention, compétences exigées, objectifs, méthode de supervision et clause d'audit des prestataires IT</h2>
              <div id="collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-4b82be4be873c8ad699fa97049523ac86b67a8bd" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i7}}
                </div>
              </div>
            </div>
          </div>

          <h3 id="section_4">IV. Compréhension des process IT de l entité</h3>
          <button type="button" class="btn btn-blue" onclick="show_relevant_docs('d3')">Relevant docs</button>
          <div id="d3" style="display: none;">
            <table>
              <tr>
                <th style="text-align: center;">File Name</th>
                <th style="text-align: center;">Relevance to Section IV</th>
              </tr>
              {% for doc, score in d3 %}
              <tr>
                <td>{{ doc }}</td>
                <td><span style="font-weight: bold; text-align: center; font-size: 16px; color: green;">{{ score*100 }}%</span></td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="accordion accordion-border-bottom" id="accordionFAQ">
            <h3 id="sub_41">1.	L’accès aux programmes et aux données</h3>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV1" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV1" aria-expanded="true"
                aria-controls="collapse-IV1">Vérifier que l'accès aux applications se fait via un identifiant unique et requiert un mot de passe</h2>
              <div id="collapse-IV1"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV1" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i8}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV2" aria-expanded="true"
                aria-controls="collapse-IV2">Obtenir la procédure de gestion d'accès</h2>
              <div id="collapse-IV2"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV2" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i9}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV3" aria-expanded="true"
                aria-controls="collapse-IV3">S'assurer de l'existence d'une liste des profils applicatifs / d'une matrice de séparation de tâches</h2>
              <div id="collapse-IV3"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV3" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i10}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV4" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV4" aria-expanded="true"
                aria-controls="collapse-IV4">la politique de mot de passe définie au sein de l'entreprise et la cohérence des critères avec les meilleures pratiques</h2>
              <div id="collapse-IV4"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV4" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i11}}
                </div>
              </div>
            </div>

            <h3 id="sub_42">2. Les changements applicatifs</h3>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV5" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV5" aria-expanded="false"
                aria-controls="collapse-IV5">Obtenir et inspecter la procédure de gestion des changements</h2>
              <div id="collapse-IV5"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV5" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i12}}
                </div>
              </div>
            </div>

            <h3 id="sub_43">3.	Acquisitions / développements de nouveaux systèmes</h3>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV6" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV6" aria-expanded="false"
                aria-controls="collapse-IV6">Obtenir et inspecter la méthodologie de développement de nouveaux systèmes</h2>
              <div id="collapse-IV6"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV6" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i13}}
                </div>
              </div>
            </div>
          </div>

          <h3 id="sub_44">4. Les opérations informatiques</h3>
          <div class="accordion-item">
            <h2 class="accordion-header accordion-button h5 border-0 "
              id="heading-IV7" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-IV7" aria-expanded="false"
              aria-controls="collapse-IV7">Gestion des incidents utilisateurs et des problèmes</h2>
            <div id="collapse-IV7"
              class="accordion-collapse collapse border-0 "
              aria-labelledby="heading-IV7" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">{{i14}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header accordion-button h5 border-0 "
              id="heading-IV8" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-IV8" aria-expanded="false"
              aria-controls="collapse-IV8">Sauvegarde et restauration des données</h2>
            <div id="collapse-IV8"
              class="accordion-collapse collapse border-0 "
              aria-labelledby="heading-IV8" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">{{i15}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header accordion-button h5 border-0 "
              id="heading-IV9" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-IV9" aria-expanded="false"
              aria-controls="collapse-IV9">Plan de reprise d’activité</h2>
            <div id="collapse-IV9"
              class="accordion-collapse collapse border-0 "
              aria-labelledby="heading-IV9" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">{{i16}}
              </div>
            </div>
          </div>


          <h3 id="section_5">V. Cybersecurité</h3>
          <button type="button" class="btn btn-blue" onclick="show_relevant_docs('d4')">Relevant docs</button>
          <div id="d4" style="display: none;">
            <table>
              <tr>
                <th style="text-align: center;">File Name</th>
                <th style="text-align: center;">Relevance to Section V</th>
              </tr>
              {% for doc, score in d4 %}
              <tr>
                <td>{{ doc }}</td>
                <td><span style="font-weight: bold; font-size: 16px; text-align: center; color: green;">{{ score*100 }}%</span></td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="accordion accordion-border-bottom" id="accordionFAQ">
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V1" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V1" aria-expanded="true"
                aria-controls="collapse-V1">Gestion des risques liés à la cybersécurité</h2>
              <div id="collapse-V1"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V1" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i17}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V2" aria-expanded="false"
                aria-controls="collapse-V2">Logiciels de sécurité</h2>
              <div id="collapse-V2"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V2" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i18}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V3" aria-expanded="false"
                aria-controls="collapse-V3">Formation, sensibilisation et communication</h2>
              <div id="collapse-V3"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V3" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i19}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V4" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V4" aria-expanded="false"
                aria-controls="collapse-V4">Contrôle du réseau</h2>
              <div id="collapse-V4"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V4" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i20}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V5" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V5" aria-expanded="false"
                aria-controls="collapse-V5">Contrôle de vérification</h2>
              <div id="collapse-V5"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V5" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i21}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V6" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V6" aria-expanded="false"
                aria-controls="collapse-V6">Équipe de réponse aux incidents de cybersécurité de l'entreprise</h2>
              <div id="collapse-V6"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V6" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i22}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="section-sm mt-5 bg-tertiary">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="footer-widget">
          <a href="index.html">
            <img loading="prelaod" decoding="async" class="img-fluid" width="350" src="static/images/logo.png" alt="Wallet">
          </a>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-12 mb-4">
        <div class="footer-widget">
          <h5 class="mb-4 text-blue font-secondary">Info</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><span class="ms-2 fas fa-map-marker"></span>  <a href="#!">Immeuble KPMG, 6 Rue du Riyal, Les Berges du lac, Tunis, Tunis 1053, TN</a></li>
            <li class="mb-2"><span class="ms-2 fas fa-phone"></span>  <a href="#!">+216 71 194 344</a></li>
            <li class="mb-2"><span class="ms-2 fas fa-envelope"></span>  <a href="#!">tn-fmfmbz@kpmg.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12 mb-4">
        <div class="footer-widget">
          <h5 class="mb-4 text-blue font-secondary">Menu</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#!">Home</a></li>
            <li class="mb-2"><a href="#!">How it works</a>	</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- # JS Plugins -->
<script src="static/plugins/jquery/jquery.min.js"></script>
<script src="static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="static/plugins/slick/slick.min.js"></script>
<script src="static/plugins/scrollmenu/scrollmenu.min.js"></script>

<!-- Main Script -->
<script src="static/js/script.js"></script>

</body>
</html>