<!--faq.html-->

<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>clarITy - IT Understanding Form</title>
  <script>
		function show_relevant_docs(id) {
			var relatedDocs = document.getElementById(id);
			if (relatedDocs.style.display === "none") {
				relatedDocs.style.display = "block";
			} else {
				relatedDocs.style.display = "none";
			}
		}
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	<meta name="description" content="This is meta description">
	<meta name="author" content="Themefisher">
	<link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="static/images/favicon.png" type="image/x-icon">

	<!-- # Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

	<!-- # CSS Plugins -->
  <link rel="stylesheet" href="static/plugins/slick/slick.css">
  <link rel="stylesheet" href="static/plugins/font-awesome/fontawesome.min.css">
  <link rel="stylesheet" href="static/plugins/font-awesome/brands.css">
  <link rel="stylesheet" href="static/plugins/font-awesome/solid.css">

	<!-- # Main Style Sheet -->
	<link rel="stylesheet" href="static/css/style.css">
</head>

<body>

<!-- navigation -->
<header class="navigation bg-tertiary">
	<nav class="navbar navbar-expand-xl navbar-light text-center py-3 pt-0 pb-0">
		<div class="container">
			<a class="navbar-brand" href="{{url_for("upload_files")}}">
				<img loading="prelaod" decoding="async" class="img-fluid" width="250" src="static/images/logo.png" alt="Wallet">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					<li class="nav-item"> <a class="nav-link" href="{{url_for("upload_files")}}">Home</a>
					</li>
          <li class="nav-item "> <a class="nav-link" href="how-it-works.html">How It Works</a>
					</li>
				</ul>
				<a class="navbar-brand brand_1" href="{{url_for("upload_files")}}">
          <img loading="prelaod" decoding="async" class="img-fluid" width="140" src="static/images/KPMG.svg" alt="KPMG">
        </a>
			</div>
		</div>
	</nav>
</header>
<!-- /navigation -->


<section class="section-sm">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="bg-white shadow rounded-lg p-4 sticky-top" style="top: 30px;">
          <h4 class="has-line-end">IT Understanding</h4>
          <nav id="TableOfContents">
            <ul>
              <li><a href="#section_1">I. Les systèmes IT utilisés par l'entité pour le reporting financier et métiers</a>
              </li>
              <li><a href="#section_2">II. Compréhension des systèmes IT de l entité</a>
              </li>
              <li><a href="#section_3">III. Compréhension de l organisation IT</a>
              </li>
              <li><a href="#section_4">IV. Compréhension des process IT de l entité</a>
                <ul>
									<li><a href="#sub_41">1. L’accès aux programmes et aux données</a>
									</li>
                  <li><a href="#sub_42">2. Les changements applicatifs</a>
									</li>
                  <li><a href="#sub_43">3.	Acquisitions / développements de nouveaux systèmes</a>
									</li>
                  <li><a href="#sub_44">4. Les opérations informatiques</a>
									</li>
								</ul>
              </li>
              <li><a href="#section_5">V. Cybersecurité</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="content">

          <h3 id="section_1">I. Les systèmes IT utilisés par l'entité pour le reporting financier et métiers</h3>
          <button type="button" class="btn btn-blue" onclick="show_relevant_docs('d0')">Relevant docs</button>
          <div id="d0" style="display: none;">
            <ul>
              {% for doc in d0 %}
                <li>{{ doc }}</li>
              {% endfor %}
            </ul>
          </div>

          <h3 id="section_2">II. Compréhension des systèmes IT de l' entité</h3>
          <button type="button" class="btn btn-blue" onclick="show_relevant_docs('d1')">Relevant docs</button>
          <div id="d1" style="display: none;">
            <ul>
              {% for doc in d1 %}
                <li>{{ doc }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="accordion accordion-border-bottom" id="accordionFAQ">
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-II1" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-II1" aria-expanded="true"
                aria-controls="collapse-II1">Les systèmes IT utilisés par 
                l’entité dans le cadre de ses rapports financiers et de ses processus opérationnels</h2>
              <div id="collapse-II1"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-II1" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i0}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-II2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-II2" aria-expanded="false"
                aria-controls="collapse-II2">Les Informations concernant les
                mises à jour ou changements importants si existants</h2>
              <div id="collapse-II2"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-II2" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i1}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-II3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-II3" aria-expanded="false"
                aria-controls="collapse-II3">IT System Diagram _ISD_</h2>
              <div id="collapse-II3"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-II3" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i2}}
                </div>
              </div>
            </div>
          </div>

          <h3 id="section_3">III. Compréhension de l organisation IT</h3>
          <button type="button" class="btn btn-blue" onclick="show_relevant_docs('d2')">Relevant docs</button>
          <div id="d2" style="display: none;">
            <ul>
              {% for doc in d2 %}
                <li>{{ doc }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="accordion accordion-border-bottom" id="accordionFAQ">
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-III1" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-III1" aria-expanded="true"
                aria-controls="collapse-III1">Les membres clés de l'organisation IT</h2>
              <div id="collapse-III1"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-III1" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i3}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-III2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-III2" aria-expanded="false"
                aria-controls="collapse-III2">Les fonctions clés de l'organisation IT</h2>
              <div id="collapse-III2"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-III2" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i4}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-III3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-III3" aria-expanded="false"
                aria-controls="collapse-III3">Les membres clés de l'équipe de l'organisation IT</h2>
              <div id="collapse-III3"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-III3" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i5}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-III4" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-III4" aria-expanded="false"
                aria-controls="collapse-III4">Les éléments externalisés</h2>
              <div id="collapse-III4"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-III4" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i6}}
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-4b82be4be873c8ad699fa97049523ac86b67a8bd" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd" aria-expanded="false"
                aria-controls="collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd">Domaines d'intervention, compétences exigées, objectifs, méthode de supervision et clause d'audit des prestataires IT</h2>
              <div id="collapse-4b82be4be873c8ad699fa97049523ac86b67a8bd"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-4b82be4be873c8ad699fa97049523ac86b67a8bd" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i7}}
                </div>
              </div>
            </div>
          </div>

          <h3 id="section_4">IV. Compréhension des process IT de l entité</h3>
          <button type="button" class="btn btn-blue" onclick="show_relevant_docs('d3')">Relevant docs</button>
          <div id="d3" style="display: none;">
            <ul>
              {% for doc in d3 %}
                <li>{{ doc }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="accordion accordion-border-bottom" id="accordionFAQ">
            <h3 id="sub_41">1.	L’accès aux programmes et aux données</h3>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV1" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV1" aria-expanded="true"
                aria-controls="collapse-IV1">Vérifier que l'accès aux applications se fait via un identifiant unique et requiert un mot de passe</h2>
              <div id="collapse-IV1"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV1" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i8}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV2" aria-expanded="true"
                aria-controls="collapse-IV2">Obtenir la procédure de gestion d'accès</h2>
              <div id="collapse-IV2"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV2" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i9}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV3" aria-expanded="true"
                aria-controls="collapse-IV3">S'assurer de l'existence d'une liste des profils applicatifs / d'une matrice de séparation de tâches</h2>
              <div id="collapse-IV3"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV3" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i10}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV4" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV4" aria-expanded="true"
                aria-controls="collapse-IV4">la politique de mot de passe définie au sein de l'entreprise et la cohérence des critères avec les meilleures pratiques</h2>
              <div id="collapse-IV4"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV4" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i11}}
                </div>
              </div>
            </div>

            <h3 id="sub_42">2. Les changements applicatifs</h3>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV5" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV5" aria-expanded="false"
                aria-controls="collapse-IV5">Obtenir et inspecter la procédure de gestion des changements</h2>
              <div id="collapse-IV5"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV5" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i12}}
                </div>
              </div>
            </div>

            <h3 id="sub_43">3.	Acquisitions / développements de nouveaux systèmes</h3>
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-IV6" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-IV6" aria-expanded="false"
                aria-controls="collapse-IV6">Obtenir et inspecter la méthodologie de développement de nouveaux systèmes</h2>
              <div id="collapse-IV6"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-IV6" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i13}}
                </div>
              </div>
            </div>
          </div>

          <h3 id="sub_44">4. Les opérations informatiques</h3>
          <div class="accordion-item">
            <h2 class="accordion-header accordion-button h5 border-0 "
              id="heading-IV7" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-IV7" aria-expanded="false"
              aria-controls="collapse-IV7">Gestion des incidents utilisateurs et des problèmes</h2>
            <div id="collapse-IV7"
              class="accordion-collapse collapse border-0 "
              aria-labelledby="heading-IV7" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">{{i14}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header accordion-button h5 border-0 "
              id="heading-IV8" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-IV8" aria-expanded="false"
              aria-controls="collapse-IV8">Sauvegarde et restauration des données</h2>
            <div id="collapse-IV8"
              class="accordion-collapse collapse border-0 "
              aria-labelledby="heading-IV8" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">{{i15}}
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header accordion-button h5 border-0 "
              id="heading-IV9" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-IV9" aria-expanded="false"
              aria-controls="collapse-IV9">Plan de reprise d’activité</h2>
            <div id="collapse-IV9"
              class="accordion-collapse collapse border-0 "
              aria-labelledby="heading-IV9" data-bs-parent="#accordionFAQ">
              <div class="accordion-body py-0 content">{{i16}}
              </div>
            </div>
          </div>


          <h3 id="section_5">V. Cybersecurité</h3>
          <button type="button" class="btn btn-blue" onclick="show_relevant_docs('d4')">Relevant docs</button>
          <div id="d4" style="display: none;">
            <ul>
              {% for doc in d4 %}
                <li>{{ doc }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="accordion accordion-border-bottom" id="accordionFAQ">
            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V1" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V1" aria-expanded="true"
                aria-controls="collapse-V1">Gestion des risques liés à la cybersécurité</h2>
              <div id="collapse-V1"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V1" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i17}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V2" aria-expanded="false"
                aria-controls="collapse-V2">Logiciels de sécurité</h2>
              <div id="collapse-V2"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V2" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i18}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V3" aria-expanded="false"
                aria-controls="collapse-V3">Formation, sensibilisation et communication</h2>
              <div id="collapse-V3"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V3" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i19}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V4" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V4" aria-expanded="false"
                aria-controls="collapse-V4">Contrôle du réseau</h2>
              <div id="collapse-V4"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V4" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i20}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V5" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V5" aria-expanded="false"
                aria-controls="collapse-V5">Contrôle de vérification</h2>
              <div id="collapse-V5"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V5" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i21}}
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header accordion-button h5 border-0 "
                id="heading-V6" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse-V6" aria-expanded="false"
                aria-controls="collapse-V6">Équipe de réponse aux incidents de cybersécurité de l'entreprise</h2>
              <div id="collapse-V6"
                class="accordion-collapse collapse border-0 "
                aria-labelledby="heading-V6" data-bs-parent="#accordionFAQ">
                <div class="accordion-body py-0 content">{{i22}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="section-sm mt-5 bg-tertiary">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="footer-widget">
          <a href="index.html">
            <img loading="prelaod" decoding="async" class="img-fluid" width="350" src="static/images/logo.png" alt="Wallet">
          </a>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-12 mb-4">
        <div class="footer-widget">
          <h5 class="mb-4 text-blue font-secondary">Info</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><span class="ms-2 fas fa-map-marker"></span>  <a href="#!">Immeuble KPMG, 6 Rue du Riyal, Les Berges du lac, Tunis, Tunis 1053, TN</a></li>
            <li class="mb-2"><span class="ms-2 fas fa-phone"></span>  <a href="#!">+216 71 194 344</a></li>
            <li class="mb-2"><span class="ms-2 fas fa-envelope"></span>  <a href="#!">tn-fmfmbz@kpmg.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12 mb-4">
        <div class="footer-widget">
          <h5 class="mb-4 text-blue font-secondary">Menu</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#!">Home</a></li>
            <li class="mb-2"><a href="#!">How it works</a>	</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- # JS Plugins -->
<script src="static/plugins/jquery/jquery.min.js"></script>
<script src="static/plugins/bootstrap/bootstrap.min.js"></script>
<script src="static/plugins/slick/slick.min.js"></script>
<script src="static/plugins/scrollmenu/scrollmenu.min.js"></script>

<!-- Main Script -->
<script src="static/js/script.js"></script>

</body>
</html>









<!-- 
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>question answering</title>
    <script>
		function show_relevant_docs(id) {
			var relatedDocs = document.getElementById(id);
			if (relatedDocs.style.display === "none") {
				relatedDocs.style.display = "block";
			} else {
				relatedDocs.style.display = "none";
			}
		}
	</script>
  </head>
  
  <body>
    <h1>IT Understanding Form</h1>
    <ol type="1">

      <h2>I.	Les systèmes IT utilisés par l'entité pour le reporting financier et métiers :</h2><br>
      <button type="button" onclick="show_relevant_docs('d0')">Relevant docs</button>
      <div id="d0" style="display: none;">
        <ul>
          {% for doc in d0 %}
            <li>{{ doc }}</li>
          {% endfor %}
        </ul>
      </div>
      <h2>II.	Compréhension des systèmes IT de l entité :</h2><br>
      <button type="button" onclick="show_relevant_docs('d1')">Relevant docs</button>
      <div id="d1" style="display: none;">
        <ul>
          {% for doc in d1 %}
            <li>{{ doc }}</li>
          {% endfor %}
        </ul>
      </div>
      <li>
        Liste des systèmes d'information utilisés dans l'information financière :
        Nom / Objectif / Process Métier / Module / Interfaçage / Mise à jour, adaptation ou changement / 
        Niveau d'externalisation / Type / Editeur / Integrateur / Etat / Date Mise en Production / 
        Administrateur système / Administrateur métier / Version OS / Version BDD :
        <br>
        <button type="button" onclick="showAnswer(1)">Answer</button>
      </li>
      <br>
      <li>
        Les Informations concernant les mises à jour ou changements important si existants :
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <li>
        IT System Diagram _ISD_ :
        <br>
        <button type="button" onclick="showAnswer(3)">Answer</button>
      </li>
      <br>
      <h2>III.	Compréhension de l organisation IT:</h2><br>
      <button type="button" onclick="show_relevant_docs('d2')">Relevant docs</button>
      <div id="d2" style="display: none;">
        <ul>
          {% for doc in d2 %}
            <li>{{ doc }}</li>
          {% endfor %}
        </ul>
      </div>
      <li>
        Les membres clés de l organisation IT :
        Nom / Poste / Localisation :
        <br>
        <button type="button" onclick="showAnswer(4)">Answer</button>
      </li>
      <br>
      <li>
        Fonctions clés de l organisation IT :
        Services / Activités principales de chaque service :
        <br>
        <button type="button" onclick="showAnswer(5)">Answer</button>
      </li>
      <br>
      <li>
        Membres clés de l équipe de l organisation IT :
        <br>
        <button type="button" onclick="showAnswer(6)">Answer</button>
      </li>
      <br>
      <li>
        Les éléments externalisés 
        Fournisseur de service externalisé / Service externalisé / Process supporté
        <br>
        <button type="button" onclick="showAnswer(7)">Answer</button>
      </li>
      <br>
      <li>
        domaines d'intervention, compétences exigées, objectifs, méthode de supervision et clause d'audit des prestations IT… 
        -	Document to inspect : les contrats de prestations IT
        <br>
        <button type="button" onclick="showAnswer(8)">Answer</button>
      </li>
      <br>
      <li>
        des preuves de la supervision des prestataires par l'entité / résultats des audits chez les prestataires.
        <br>
        <button type="button" onclick="showAnswer(9)">Answer</button>
      </li>
      <br>
      <h2>IV.	Compréhension des process IT de l entité :</h2><br>
      <button type="button" onclick="show_relevant_docs('d3')">Relevant docs</button>
      <div id="d3" style="display: none;">
        <ul>
          {% for doc in d3 %}
            <li>{{ doc }}</li>
          {% endfor %}
        </ul>
      </div>
      <li>
        L accès aux programmes et aux données  
        -	Document to inspect : la procédure de gestion des accès
        -	Document to inspect : la politique de mot de passe
        <br>
        <button type="button" onclick="showAnswer(10)">Answer</button>
      </li>
      <br>
      <li>
        Les changements applicatifs 
        -	Document to inspect : la procédure de gestion des changements
        <br>
        <button type="button" onclick="showAnswer(11)">Answer</button>
      </li>
      <br>
      <li>
        Acquisitions / développements de nouveaux systèmes
        -	Document to inspect :  la méthodologie de développement de nouveaux systèmes
        <br>
        <button type="button" onclick="showAnswer(12)">Answer</button>
      </li>
      <br>
      <li>
        Les opérations informatiques 
        -	Document to inspect :  les procédures de supervision de l'exploitation IT
        <br>
        <button type="button" onclick="showAnswer(13)">Answer</button>
      </li>
      <br>
      <h2>V.	Cybersecurity :</h2><br>
      <button type="button" onclick="show_relevant_docs('d4')">Relevant docs</button>
      <div id="d4" style="display: none;">
        <ul>
          {% for doc in d4 %}
            <li>{{ doc }}</li>
          {% endfor %}
        </ul>
      </div>
      <li>
        Les personnes responsables en sécurité de système d information:
        <br>
        <button type="button" onclick="showAnswer(14)">Answer</button>
      </li>
      <br>
      <li>
        L'entité réalise une évaluation [périodique / ponctuelle des vulnérabilités 
        et met en place des dispositifs visant à mitiger les éventuels risques identifiés ? [Oui / Non]
        <br>
        <button type="button" onclick="showAnswer(15)">Answer</button>
      </li>
      <br>
      <li>
        L'entité a-t-elle réalisé une analyse de risques lié à la cybersécurité au regard 
        des éventuels impacts sur le business et sur les états financiers ? [Oui / Non]
        <br>
        <button type="button" onclick="showAnswer(16)">Answer</button>
      </li>
      <br>
      <li>
        L'entité a-t-elle identifié des risques liés à la cybersécurité 
        pouvant avoir un impact significatif sur le business ou sur les états financiers ? [Oui / Non]
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <li>
        L entreprise a-t-elle mis en place des dispositifs 
        visant à mitiger les risques liés à la cybersécurité ? [Oui / Non]
        Si oui, les dispositifs mis en place sont :
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <h3> Logiciels de sécurité </h3>
      <li>
        L'entité installe des logiciels de sécurité pour la protéger contre les menaces provenant 
        du web, notamment les logiciels espions, les virus et les attaques de phishing, à savoir : [Préciser]
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <li>
        L'entité utilise un réseau privé virtuel VPN et le cryptage des courriels pour 
        empêcher la divulgation non autorisée d'informations : [Préciser]
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <li>
        Des projets d'amélioration de la sécurité informatique sont également en cours, tels que 
        l'amélioration du proxy cloud d'authentification multi-facteurs pour appliquer le filtrage 
        de contenu afin de renforcer les utilisateurs distants. Ces projets devraient permettre d'atténuer 
        le risque lié aux cyberattaques internes et externes, y compris les menaces liées aux informations 
        comptables internes.  [Préciser]
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <li>
        L'entité utilise un réseau privé virtuel VPN et le cryptage des courriels pour 
        empêcher la divulgation non autorisée d'informations : [Préciser]
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <h3> Formation, sensibilisation et communication </h3>
      <li>
        Des actions de formation [obligatoires / facultatives] sont réalisées sur les sujets suivants : 
        [Préciser]
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <li>
        Des actions de sensibilisation sont également réalisées, à savoir : [Préciser] 
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <li>
        De plus, l'entité réalise des communications [ponctuelles / régulières] 
        auprès des collaborateurs sur les sujets suivants : [Préciser]
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <h3> Contrôle du réseau </h3>
      <li>
        L'entité utilise-t-elle des outils logiciels au sein de 
        l'organisation pour surveiller l'accès au réseau ?  [Oui/Non]
        Si oui, les dispositifs mis en place sont : 
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <h3> Contrôle de vérification </h3>
      <li>
        L'entité dispose-t-elle des contrôles qui vérifient les modifications apportées 
        aux informations relatives aux comptes bancaires ou aux paiements des fournisseurs 
        afin d'authentifier la validité des modifications ?  [Par exemple, les membres de l'acheminement, 
        les noms des fournisseurs, etc.]
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <h3> Équipe de réponse aux incidents de cybersécurité de l'entreprise </h3>
      <li>
        L'entité a-t-elle mis en place une équipe de réponse aux incidents de cybersécurité dans 
        le cadre de son programme de protection contre les cyber-intrusions. 
        [Ajouter un commentaire concernant l’équipe de réponse aux incidents de cybersécurité]
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <li>
        Incident cyber survenu / Date de survenance de l’incident cyber	/ 
        Date de clôture de l’incident cyber	/ Durée de l’incident cyber	/ 
        Nature de l’incident cyber [Mineur / Majeur] / Périmètre de l’incident cyber / 
        Root cause de l’incident cyber / Action corrective
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
      <br>
      <li>
        Les incidents observés sont-ils de nature à remettre en cause la fiabilité de l’établissement 
        des états financiers ? [Oui / Non]
        <br>
        <button type="button" onclick="showAnswer(2)">Answer</button>
      </li>
    </ol>


    <div id="documents-container"></div>
    <div id="answer-container"></div>
  </body>
</html>
--> 