<!-- redirect the user to a new page that displays the uploaded files classified by language 
  and provides other options for the user -->

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Uploaded Files</title>
  </head>
  <body>
    <h1>Your Uploaded Files</h1>

    <h2>English files:</h2>
    <ul>
    {% for topic, files in eng_topics.items() %}
      <br>
      <li>{{ topic }}:
        <ul>
        {% for file in files %}
          <li>
            <a href="{{ url_for('static', filename=file) }}" target="_blank">{{ file }}</a>
            <br>
            {{ eng_summaries[file] }}
          </li>
        {% endfor %}
        </ul>
      </li>
    {% endfor %}
    </ul>

    <h2>French files:</h2>
    <ul>
      {% for topic, files in fr_topics.items() %}
        <br>
        <li>{{ topic }}:
          <ul>
          {% for file in files %}
            <li>
              <a href="{{ url_for('static', filename=file) }}" target="_blank">{{ file }}</a>
              <br>
              {{ fr_summaries[file] }}
            </li>
          {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
    
    <h2>Other-language files:</h2>
    <ul>
    {% for file in other_files %}
      <li><a href="{{ url_for('static', filename=file) }}" target="_blank">{{ file }}</a></li>
    {% endfor %}
    </ul>
  <a href="{{ url_for('question_answering') }}" target="_blank" class="btn btn-primary"><button>Go to IT Understanding Form</button></a>
  </body>
</html>
