<!-- redirect the user to a new page that displays the uploaded files classified by language 
  and provides other options for the user -->

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Uploaded Files</title>
  </head>
  <body>
    <h1>Your Uploaded Files</h1>
    
    <h2>English files:</h2>
    {% for file in eng_files %}
      <p>{{ file }}</p>
    {% endfor %}
    
    <h2>French files:</h2>
    {% for file in fr_files %}
      <p>{{ file }}</p>
    {% endfor %}
    
    <h2>Other files:</h2>
    {% for file in other_files %}
      <p>{{ file }}</p>
    {% endfor %}
  </body>
</html>
